ACE04_DATA_DIR = data/ace04/data/English/
ACE05_DATA_DIR = data/ace05/data/English/

ACE05_SECTION_LIST = bn,nw
ACE04_SECTION_LIST = bn,nw

ACE04_SERIALIZED_DOCS = index/ace04/docs/
ACE05_SERIALIZED_DOCS = index/ace05/docs/

ACE04_SERIALIZED_CORPUS = index/ace04/corpus.ser
ACE05_SERIALIZED_CORPUS = index/ace05/corpus.ser

SL_PARAMETER_CONFIG_FILE = config/DEMIParallelDCD.config

# Should be valid View Names from the ViewNames.java class
RELATION_PAIRWISE_MENTION_VIEW_GOLD = NER_ACE_COARSE_HEAD
RELATION_PAIRWISE_RELATION_VIEW_GOLD = RELATION_ACE_COARSE_HEAD
COREF_VIEW = COREF_HEAD

# Populated view
RELATION_PAIRWISE_RELATION_VIEW_PREDICTION = RELATION_ACE_COARSE_PREDICTED
